src/main/resources/ke.wsdl_1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6b21  svn-revision#12959. --><definitions xmlns:tns="http://ws.crbws.transunion.ke.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.crbws.transunion.ke.co/">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.crbws.transunion.ke.co/" schemaLocation=""/>
</xsd:schema>
</types>
<message name="getProduct150">
<part name="parameters" element="tns:getProduct150"/>
</message>
<message name="getProduct150Response">
<part name="parameters" element="tns:getProduct150Response"/>
</message>
<message name="getProduct151">
<part name="parameters" element="tns:getProduct151"/>
</message>
<message name="getProduct151Response">
<part name="parameters" element="tns:getProduct151Response"/>
</message>
<message name="getProduct152">
<part name="parameters" element="tns:getProduct152"/>
</message>
<message name="getProduct152Response">
<part name="parameters" element="tns:getProduct152Response"/>
</message>
<message name="getProduct153">
<part name="parameters" element="tns:getProduct153"/>
</message>
<message name="getProduct153Response">
<part name="parameters" element="tns:getProduct153Response"/>
</message>
<message name="getCreditBal">
<part name="parameters" element="tns:getCreditBal"/>
</message>
<message name="getCreditBalResponse">
<part name="parameters" element="tns:getCreditBalResponse"/>
</message>
<message name="getProduct100">
<part name="parameters" element="tns:getProduct100"/>
</message>
<message name="getProduct100Response">
<part name="parameters" element="tns:getProduct100Response"/>
</message>
<message name="getProduct126">
<part name="parameters" element="tns:getProduct126"/>
</message>
<message name="getProduct126Response">
<part name="parameters" element="tns:getProduct126Response"/>
</message>
<message name="getProduct401">
<part name="parameters" element="tns:getProduct401"/>
</message>
<message name="getProduct401Response">
<part name="parameters" element="tns:getProduct401Response"/>
</message>
<message name="getProduct402">
<part name="parameters" element="tns:getProduct402"/>
</message>
<message name="getProduct402Response">
<part name="parameters" element="tns:getProduct402Response"/>
</message>
<message name="getProduct403">
<part name="parameters" element="tns:getProduct403"/>
</message>
<message name="getProduct403Response">
<part name="parameters" element="tns:getProduct403Response"/>
</message>
<message name="getProduct405">
<part name="parameters" element="tns:getProduct405"/>
</message>
<message name="getProduct405Response">
<part name="parameters" element="tns:getProduct405Response"/>
</message>
<message name="getProduct406">
<part name="parameters" element="tns:getProduct406"/>
</message>
<message name="getProduct406Response">
<part name="parameters" element="tns:getProduct406Response"/>
</message>
<message name="getProduct159">
<part name="parameters" element="tns:getProduct159"/>
</message>
<message name="getProduct159Response">
<part name="parameters" element="tns:getProduct159Response"/>
</message>
<message name="getProduct125">
<part name="parameters" element="tns:getProduct125"/>
</message>
<message name="getProduct125Response">
<part name="parameters" element="tns:getProduct125Response"/>
</message>
<message name="getProduct108">
<part name="parameters" element="tns:getProduct108"/>
</message>
<message name="getProduct108Response">
<part name="parameters" element="tns:getProduct108Response"/>
</message>
<message name="getProduct112">
<part name="parameters" element="tns:getProduct112"/>
</message>
<message name="getProduct112Response">
<part name="parameters" element="tns:getProduct112Response"/>
</message>
<message name="getProduct114">
<part name="parameters" element="tns:getProduct114"/>
</message>
<message name="getProduct114Response">
<part name="parameters" element="tns:getProduct114Response"/>
</message>
<message name="getProduct110">
<part name="parameters" element="tns:getProduct110"/>
</message>
<message name="getProduct110Response">
<part name="parameters" element="tns:getProduct110Response"/>
</message>
<message name="getProduct121">
<part name="parameters" element="tns:getProduct121"/>
</message>
<message name="getProduct121Response">
<part name="parameters" element="tns:getProduct121Response"/>
</message>
<message name="getProduct124">
<part name="parameters" element="tns:getProduct124"/>
</message>
<message name="getProduct124Response">
<part name="parameters" element="tns:getProduct124Response"/>
</message>
<message name="getProduct102">
<part name="parameters" element="tns:getProduct102"/>
</message>
<message name="getProduct102Response">
<part name="parameters" element="tns:getProduct102Response"/>
</message>
<message name="getProduct101">
<part name="parameters" element="tns:getProduct101"/>
</message>
<message name="getProduct101Response">
<part name="parameters" element="tns:getProduct101Response"/>
</message>
<message name="getProduct104">
<part name="parameters" element="tns:getProduct104"/>
</message>
<message name="getProduct104Response">
<part name="parameters" element="tns:getProduct104Response"/>
</message>
<message name="getProduct116">
<part name="parameters" element="tns:getProduct116"/>
</message>
<message name="getProduct116Response">
<part name="parameters" element="tns:getProduct116Response"/>
</message>
<message name="getProduct118">
<part name="parameters" element="tns:getProduct118"/>
</message>
<message name="getProduct118Response">
<part name="parameters" element="tns:getProduct118Response"/>
</message>
<message name="getProduct105">
<part name="parameters" element="tns:getProduct105"/>
</message>
<message name="getProduct105Response">
<part name="parameters" element="tns:getProduct105Response"/>
</message>
<message name="getProduct109">
<part name="parameters" element="tns:getProduct109"/>
</message>
<message name="getProduct109Response">
<part name="parameters" element="tns:getProduct109Response"/>
</message>
<message name="getProduct103">
<part name="parameters" element="tns:getProduct103"/>
</message>
<message name="getProduct103Response">
<part name="parameters" element="tns:getProduct103Response"/>
</message>
<message name="getProduct107">
<part name="parameters" element="tns:getProduct107"/>
</message>
<message name="getProduct107Response">
<part name="parameters" element="tns:getProduct107Response"/>
</message>
<message name="getProduct115">
<part name="parameters" element="tns:getProduct115"/>
</message>
<message name="getProduct115Response">
<part name="parameters" element="tns:getProduct115Response"/>
</message>
<message name="getProduct122">
<part name="parameters" element="tns:getProduct122"/>
</message>
<message name="getProduct122Response">
<part name="parameters" element="tns:getProduct122Response"/>
</message>
<message name="getServerInfo">
<part name="parameters" element="tns:getServerInfo"/>
</message>
<message name="getServerInfoResponse">
<part name="parameters" element="tns:getServerInfoResponse"/>
</message>
<portType name="ControllerKenya">
<operation name="getProduct150">
<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata" ns1:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct150Request" message="tns:getProduct150"/>
<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata" ns2:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct150Response" message="tns:getProduct150Response"/>
</operation>
<operation name="getProduct151">
<input xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" ns3:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct151Request" message="tns:getProduct151"/>
<output xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" ns4:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct151Response" message="tns:getProduct151Response"/>
</operation>
<operation name="getProduct152">
<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata" ns5:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct152Request" message="tns:getProduct152"/>
<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata" ns6:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct152Response" message="tns:getProduct152Response"/>
</operation>
<operation name="getProduct153">
<input xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" ns7:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct153Request" message="tns:getProduct153"/>
<output xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" ns8:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct153Response" message="tns:getProduct153Response"/>
</operation>
<operation name="getCreditBal">
<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata" ns9:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getCreditBalRequest" message="tns:getCreditBal"/>
<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata" ns10:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getCreditBalResponse" message="tns:getCreditBalResponse"/>
</operation>
<operation name="getProduct100">
<input xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" ns11:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct100Request" message="tns:getProduct100"/>
<output xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata" ns12:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct100Response" message="tns:getProduct100Response"/>
</operation>
<operation name="getProduct126">
<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata" ns13:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct126Request" message="tns:getProduct126"/>
<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata" ns14:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct126Response" message="tns:getProduct126Response"/>
</operation>
<operation name="getProduct401">
<input xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" ns15:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct401Request" message="tns:getProduct401"/>
<output xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata" ns16:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct401Response" message="tns:getProduct401Response"/>
</operation>
<operation name="getProduct402">
<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata" ns17:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct402Request" message="tns:getProduct402"/>
<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata" ns18:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct402Response" message="tns:getProduct402Response"/>
</operation>
<operation name="getProduct403">
<input xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" ns19:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct403Request" message="tns:getProduct403"/>
<output xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata" ns20:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct403Response" message="tns:getProduct403Response"/>
</operation>
<operation name="getProduct405">
<input xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata" ns21:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct405Request" message="tns:getProduct405"/>
<output xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata" ns22:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct405Response" message="tns:getProduct405Response"/>
</operation>
<operation name="getProduct406">
<input xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" ns23:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct406Request" message="tns:getProduct406"/>
<output xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata" ns24:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct406Response" message="tns:getProduct406Response"/>
</operation>
<operation name="getProduct159">
<input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata" ns25:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct159Request" message="tns:getProduct159"/>
<output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata" ns26:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct159Response" message="tns:getProduct159Response"/>
</operation>
<operation name="getProduct125">
<input xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" ns27:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct125Request" message="tns:getProduct125"/>
<output xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata" ns28:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct125Response" message="tns:getProduct125Response"/>
</operation>
<operation name="getProduct108">
<input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata" ns29:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct108Request" message="tns:getProduct108"/>
<output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata" ns30:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct108Response" message="tns:getProduct108Response"/>
</operation>
<operation name="getProduct112">
<input xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" ns31:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct112Request" message="tns:getProduct112"/>
<output xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata" ns32:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct112Response" message="tns:getProduct112Response"/>
</operation>
<operation name="getProduct114">
<input xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata" ns33:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct114Request" message="tns:getProduct114"/>
<output xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata" ns34:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct114Response" message="tns:getProduct114Response"/>
</operation>
<operation name="getProduct110">
<input xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" ns35:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct110Request" message="tns:getProduct110"/>
<output xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata" ns36:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct110Response" message="tns:getProduct110Response"/>
</operation>
<operation name="getProduct121">
<input xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" ns37:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct121Request" message="tns:getProduct121"/>
<output xmlns:ns38="http://www.w3.org/2007/05/addressing/metadata" ns38:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct121Response" message="tns:getProduct121Response"/>
</operation>
<operation name="getProduct124">
<input xmlns:ns39="http://www.w3.org/2007/05/addressing/metadata" ns39:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct124Request" message="tns:getProduct124"/>
<output xmlns:ns40="http://www.w3.org/2007/05/addressing/metadata" ns40:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct124Response" message="tns:getProduct124Response"/>
</operation>
<operation name="getProduct102">
<input xmlns:ns41="http://www.w3.org/2007/05/addressing/metadata" ns41:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct102Request" message="tns:getProduct102"/>
<output xmlns:ns42="http://www.w3.org/2007/05/addressing/metadata" ns42:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct102Response" message="tns:getProduct102Response"/>
</operation>
<operation name="getProduct101">
<input xmlns:ns43="http://www.w3.org/2007/05/addressing/metadata" ns43:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct101Request" message="tns:getProduct101"/>
<output xmlns:ns44="http://www.w3.org/2007/05/addressing/metadata" ns44:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct101Response" message="tns:getProduct101Response"/>
</operation>
<operation name="getProduct104">
<input xmlns:ns45="http://www.w3.org/2007/05/addressing/metadata" ns45:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct104Request" message="tns:getProduct104"/>
<output xmlns:ns46="http://www.w3.org/2007/05/addressing/metadata" ns46:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct104Response" message="tns:getProduct104Response"/>
</operation>
<operation name="getProduct116">
<input xmlns:ns47="http://www.w3.org/2007/05/addressing/metadata" ns47:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct116Request" message="tns:getProduct116"/>
<output xmlns:ns48="http://www.w3.org/2007/05/addressing/metadata" ns48:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct116Response" message="tns:getProduct116Response"/>
</operation>
<operation name="getProduct118">
<input xmlns:ns49="http://www.w3.org/2007/05/addressing/metadata" ns49:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct118Request" message="tns:getProduct118"/>
<output xmlns:ns50="http://www.w3.org/2007/05/addressing/metadata" ns50:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct118Response" message="tns:getProduct118Response"/>
</operation>
<operation name="getProduct105">
<input xmlns:ns51="http://www.w3.org/2007/05/addressing/metadata" ns51:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct105Request" message="tns:getProduct105"/>
<output xmlns:ns52="http://www.w3.org/2007/05/addressing/metadata" ns52:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct105Response" message="tns:getProduct105Response"/>
</operation>
<operation name="getProduct109">
<input xmlns:ns53="http://www.w3.org/2007/05/addressing/metadata" ns53:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct109Request" message="tns:getProduct109"/>
<output xmlns:ns54="http://www.w3.org/2007/05/addressing/metadata" ns54:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct109Response" message="tns:getProduct109Response"/>
</operation>
<operation name="getProduct103">
<input xmlns:ns55="http://www.w3.org/2007/05/addressing/metadata" ns55:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct103Request" message="tns:getProduct103"/>
<output xmlns:ns56="http://www.w3.org/2007/05/addressing/metadata" ns56:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct103Response" message="tns:getProduct103Response"/>
</operation>
<operation name="getProduct107">
<input xmlns:ns57="http://www.w3.org/2007/05/addressing/metadata" ns57:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct107Request" message="tns:getProduct107"/>
<output xmlns:ns58="http://www.w3.org/2007/05/addressing/metadata" ns58:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct107Response" message="tns:getProduct107Response"/>
</operation>
<operation name="getProduct115">
<input xmlns:ns59="http://www.w3.org/2007/05/addressing/metadata" ns59:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct115Request" message="tns:getProduct115"/>
<output xmlns:ns60="http://www.w3.org/2007/05/addressing/metadata" ns60:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct115Response" message="tns:getProduct115Response"/>
</operation>
<operation name="getProduct122">
<input xmlns:ns61="http://www.w3.org/2007/05/addressing/metadata" ns61:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct122Request" message="tns:getProduct122"/>
<output xmlns:ns62="http://www.w3.org/2007/05/addressing/metadata" ns62:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getProduct122Response" message="tns:getProduct122Response"/>
</operation>
<operation name="getServerInfo">
<input xmlns:ns63="http://www.w3.org/2007/05/addressing/metadata" ns63:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getServerInfoRequest" message="tns:getServerInfo"/>
<output xmlns:ns64="http://www.w3.org/2007/05/addressing/metadata" ns64:Action="http://ws.crbws.transunion.ke.co/ControllerKenya/getServerInfoResponse" message="tns:getServerInfoResponse"/>
</operation>
</portType>
</definitions>